.Card1{
    display: flex;
  justify-content: center; 
  align-items: center;
  margin-right: 12rem;
  border-style: solid; 
}

.Card2{
    display: flex;
  justify-content: center; 
  align-items: center;
  margin-left: 12rem;
  border-style: solid;
}

.NeonCard {
    border: 2px solid #ff00ff; /* Neon color for the border */
    box-shadow: 0 0 20px #ff00ff; /* Neon color for the shadow */
  }
  
  .NeonText {
    color: #ff00ff; /* Neon color for the text */
    text-shadow: 0 0 10px #ff00ff; /* Neon color for the text shadow */
  }
  
  .bg{

    background-image: url(https://wallpapercave.com/wp/wp6325726.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

