.container {
    min-height: 80vh;
}

.particle-container {
    background-color: black;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.error-text {
    margin: 0 auto;
    margin-top: 15%;
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}



.particle {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    animation: particle-fly linear infinite;
    opacity: 0.8;
}

@keyframes particle-fly {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(200px, 200px);
        opacity: 0;
    }
}