/* .Card1{
    display: flex;
  justify-content: center; 
  align-items: center;
  margin-right: 12rem;
  border-style: solid; 
}

.Card2{
    display: flex;
  justify-content: center; 
  align-items: center;
  margin-left: 12rem;
  border-style: solid;
}

.NeonCard {
    border: 2px solid #ff00ff; 
    box-shadow: 0 0 20px #ff00ff;
  }
  
  .NeonText {
    color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff; 
  }
  
  .bg{

    background-image: url(https://wallpapercave.com/wp/wp6325726.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
 */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.main1 {

  margin: 5rem;
  margin-right: 20rem;

}

.main2 {
  margin: 5rem;
  margin-left: 20rem;

}

.flex1 {

  backdrop-filter: blur(100px);
  border: 2px solid #ff00ff;
  box-shadow: 0 0 20px #ff00ff;
  margin-top: 10rem;

}

.flex2 {

  backdrop-filter: blur(100px);
  border: 2px solid #ff4800fd;
  box-shadow: 0 0 20px #ff0000;

}

.flex3 {

  backdrop-filter: blur(100px);
  border: 2px solid #00c8fffd;
  box-shadow: 0 0 20px #2b00ff;

}

.flex4 {

  backdrop-filter: blur(100px);
  border: 2px solid #00ff44fd;
  box-shadow: 0 0 20px #aeff00;
  margin-bottom: 10rem;

}

.neontext1 {
  color: #ff00ff;
  text-shadow: 0 0 10px #ff00ff;
  font-size: larger;
  align-content: center;
}

.neontext2 {
  color: #ff4800fd;
  text-shadow: 0 0 10px #ff0000;
  font-size: larger;
  align-content: center;
}



.neontext3 {
  color: #00c8fffd;
  text-shadow: 0 0 10px #2b00ff;
  font-size: large;
  align-content: center;
}

.neontext4 {
  color: #00ff44fd;
  text-shadow: 0 0 10px #aeff00;
  font-size: larger;
  align-content: center;
}

.main-container {

  background-image: url(https://c0.wallpaperflare.com/preview/153/380/988/headphones-red-black-dark.jpg);
  
  background-repeat: no-repeat;
  background-size:cover;
  background-clip: inherit;
  /* background-blend-mode: darken; */
  z-index: 100;
  -webkit-filter: blur(10px);
  filter: blur(0px);
  display: flow-root;

}