.tournaments{
    margin-top: 18vh;
    padding: opx 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tournaments h2{
    color: #fff;
    margin: 10px 0;
}
.tournaments h3{
    color: #fff;
    margin: 10px 0;
}

.tournaments .boxBx{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tournaments .boxBx .box{
    width: 350px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #1b2141;
    overflow: hidden;
}

.tournaments .boxBx .box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tournaments .boxBx .box .content{
    padding: 10px;
}

.tournaments .boxBx .box .content h4{
    color: #fff;
    margin-top: 15px;
}

.tournaments .boxBx .box .content h4 span{
    color: #1aeeef;
}

.tournaments .boxBx .box .content p{
    text-align: justify;
    color: #dbd9d9;
    margin-top: 10px;
}

.tournaments .boxBx .box .content .btn{
    display: flex;
    justify-content: space-between;

}

.tournaments .boxBx .box .content .watch{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background: #1aeeef;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #050e2d;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #1aeeef;
}

.tournaments .boxBx .box .content .btn {
    align-items: center;
    justify-content: center;
}

.tournaments .boxBx .box .content .watch:hover{
    border: 1px solid #1aeeef;
    background: none;
    color: #fff;
    box-shadow: none;
}

.tournaments .boxBx .box .content .Join{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}

.tournaments .boxBx .box .content .Join:hover{
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}